@model CalendarViewModel
@using IU.Plan.Web.Models
@using IU.Plan.Web.Extensions;

@{
    ViewBag.Title = "Calendar";

    var dayCounter = 1;
}

@{
    var prevPeriod = Model.BeginOfPeriod.AddMonths(-1);
    var nextPeriod = Model.BeginOfPeriod.AddMonths(1);
    var today = DateTime.Today;
}

<h2>Календарь для @Model.BeginOfPeriod.ToString("MMMM"), @Model.BeginOfPeriod.Year</h2>

<div class="row">
    <div class="col-md-8">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="@Url.Action("Index", new { year = prevPeriod.Year, month = prevPeriod.Month })"><span aria-hidden="true">&larr;</span> Туда</a></li>
                <li class="today"><a href="@Url.Action("Index", new { year = today.Year, month = today.Month })">Сегодня</a></li>
                <li class="next"><a href="@Url.Action("Index", new { year = nextPeriod.Year, month = nextPeriod.Month })">Сюда <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-4">
        <form class="form-inline" onsubmit="search(true); return false;">
            <div class="form-group">
                <input type="search" class="form-control" id="searchRequest" onkeyup="search()" placeholder="найти...">
            </div>
            <input type="submit" class="btn btn-default" value="go" />
        </form>
    </div>
</div>

<div>
    <div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width:14%">ПН</th>
                    <th style="width:14%">ВТ</th>
                    <th style="width:14%">СР</th>
                    <th style="width:14%">ЧТ</th>
                    <th style="width:14%">ПТ</th>
                    <th style="width:15%">СБ</th>
                    <th style="width:15%">ВС</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.RowCount; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.ColCount; j++)
                        {
                            if (dayCounter <= Model.EndOfPeriod.Day)
                            {
                                var currDay = new DateTime(Model.BeginOfPeriod.Year, Model.BeginOfPeriod.Month, dayCounter);

                                if (currDay.DayOfWeek.ToInt() == j)
                                {
                                    var tdClass = currDay == DateTime.Now.Date ? "bg-success" : "";
                                    if (dayCounter > Model.EndOfPeriod.Day)
                                    {
                                        tdClass = "bg-warning";
                                    }

                                    <td class=@(tdClass)>
                                        @*<div style="display:inline;">
                                                @((dayCounter <= Model.EndOfPeriod.Day) ? $"{dayCounter}" : "")
                                                <a href="#" onclick="openCreatePopup('Event')">+</a>
                                                <a href="#" onclick="openCreatePopup('Activity')">+</a>
                                                <a href="#" onclick="openCreatePopup('Task')">+</a>
                                            </div>*@

                                        @if (dayCounter <= Model.EndOfPeriod.Day)
                                        {
                                            <div style="display:inline;">
                                                @dayCounter
                                                @Helpers.addPlus("Event", "#5cb85c")
                                                @Helpers.addPlus("Activity", "#5bc0de")
                                                @Helpers.addPlus("Task", "#f0ad4e")
                                            </div>
                                            <hr />
                                        }

                                        @Helpers.PrintEvents(dayCounter++)
                                    </td>
                                    continue;
                                }
                            }

                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="MiniDetailsResult"></div>
<div id="EditPopup"></div>
<div id="DeletePopup"></div>