@model CalendarViewModel
@using IU.Plan.Web.Models

@{
    ViewBag.Title = "Calendar";

    var dayCounter = 1;
}

@helper PrintEvents(int dayCounter)
{
    var currDay = new DateTime(Model.LastMomentOfPeriod.Year, Model.LastMomentOfPeriod.Month, dayCounter);
    var events = Model.Events.Where(evnt => evnt.StartDateTime.Value.Day == currDay.Day);
    foreach (var evt in events)
    {
        if (evt != null)
        {
            <div>@evt.Title</div>
        }
    }
}

<h2>Calendar</h2>

<ul>
    @foreach (var evt in Model.Events)
    {
        <li>
            @evt
        </li>
    }
</ul>

<div>
    @{
        var prevPeriod = Model.LastMomentOfPeriod.AddMonths(-1);
        var nextPeriod = Model.LastMomentOfPeriod.AddMonths(1);
    }
    <a href="/Calendar/Index/@prevPeriod.Year/@prevPeriod.Month">&larr;@prevPeriod.Month.ToString(), @prevPeriod.Year</a><br />
    <a href="/Calendar/Index/@nextPeriod.Year/@nextPeriod.Month">&nbsp;&nbsp;@nextPeriod.Month.ToString(), @nextPeriod.Year&rarr;</a>
</div>

<div class="table-responsive">

    <table class="table table-bordered">
        <tr>
            <th>понедельник</th>
            <th>вторник</th>
            <th>среда</th>
            <th>четверг</th>
            <th>пятница</th>
            <th>суббота</th>
            <th>воскресенье</th>
        </tr>
        @for (int i = 0; i < Model.RowCount; i++)
        {
            <tr>
                @for (int j = 0; j < Model.ColCount; j++)
                {
                    if (dayCounter <= Model.LastMomentOfPeriod.Day)
                    {
                        var currDayNumberOfWeek = (int)new DateTime(Model.LastMomentOfPeriod.Year, Model.LastMomentOfPeriod.Month, dayCounter).DayOfWeek;
                        if (currDayNumberOfWeek == 0) //sunday
                        {
                            currDayNumberOfWeek = 7;
                        }
                        if (currDayNumberOfWeek == j + 1)
                        {
                            var tdClass = dayCounter == DateTime.Now.Day ? "bg-info" : "";
                            <td class=@(tdClass)>
                                @((dayCounter <= Model.LastMomentOfPeriod.Day) ? $"{dayCounter}" : "")
                                @PrintEvents(dayCounter++)
                            </td>
                            continue;
                        }
                    }

                    <td></td>
                }
            </tr>
        }
    </table>

</div>