@model CalendarViewModel
@using IU.Plan.Web.Models

@{
    ViewBag.Title = "Календарь";

    var today = DateTime.Today;
    var count = 0;

    var prev = Model.StartDay.AddMonths(-1);
    var next = Model.StartDay.AddMonths(1);

    var colStart = Model.StartDay.DayOfWeek.ToInt() - 1;
}

<h2>
    Календарь
    @Model.StartDay.ToString("MMMM")
    @Model.StartDay.Year
</h2>

<div class="row">
    <div class="col-md-8">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="@Url.Action("Index", new { year = prev.Year, month = prev.Month })"><span aria-hidden="true">&larr;</span> Туда</a></li>
                <li class="today"><a href="@Url.Action("Index", new { year = today.Year, month = today.Month })">Сегодня</a></li>
                <li class="next"><a href="@Url.Action("Index", new { year = next.Year, month = next.Month })">Сюда <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-4">

        <form class="form-inline" onsubmit="search(true); return false;">
            <div class="form-group">
                <input type="search" class="form-control" id="searchRequest" onkeyup="search()" placeholder="найти...">
            </div>
            <input type="submit" class="btn btn-default" value="go" />
        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width:14%">ПН</th>
                    <th style="width:14%">ВТ</th>
                    <th style="width:14%">СР</th>
                    <th style="width:14%">ЧТ</th>
                    <th style="width:14%">ПТ</th>
                    <th style="width:15%">СБ</th>
                    <th style="width:15%">ВС</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.RowCount; i++)
                {
                    var start = i == 0 ? colStart : 0;
                    <tr data-info="@start  @Model.ColCount">
                        @for (int j = 0; j < start; j++)
                        {
                            <td></td>
                        }
                        @for (int j = start; j < Model.ColCount; j++)
                        {
                            @Helpers.PrintCell(Model, ++count, today)
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div id="searchResult" class="col-md-4">

    </div>
</div>
<div id="MiniDetailsResult"></div>
<div id="EditPopup"></div>