@model IU.PlanManager.Core.Models.Event

@{
    ViewBag.Title = "Details";
}
<div class="col-lg-10" style="width:500px">
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>

    <p>
        @Html.DisplayFor(model => model.StartDateTime)

        @Html.DisplayFor(model => model.EndDateTime)
    </p>

    <p>
        @Html.DisplayFor(model => model.Place)
    </p>
</div>