@model IU.PlanManager.ConApp.Models.Event

<h4>@Html.DisplayFor(model => model.Title)</h4>
<hr />
<p>
    @Html.DisplayFor(model => model.Description)
</p>

<p>
    @Html.DisplayFor(model => model.StartDate)

    @Html.DisplayFor(model => model.EndDate)
</p>

<p>
    @Html.DisplayFor(model => model.Place)
</p>

